In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Kahului,US,2022-01-05 20:28:52,20.8947,-156.4700,80.96,68,20,5.75
1,1,Hobart,AU,2022-01-05 20:23:54,-42.8794,147.3294,60.03,76,75,4.61
2,2,Erenhot,CN,2022-01-05 20:28:52,43.6475,111.9767,12.02,54,0,4.68
3,3,Kieta,PG,2022-01-05 20:28:52,-6.2167,155.6333,79.93,82,86,2.51
4,4,Hualmay,PE,2022-01-05 20:28:53,-11.0964,-77.6139,74.48,73,33,10.02

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig_2 = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer_2 = gmaps.heatmap_layer(locations, 
                                   weights=humidity, 
                                   dissipating=False, 
                                   max_intensity=300, 
                                   point_radius=4)

fig_2.add_layer(heat_layer_2)
# Call the figure to plot the data.
fig_2

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of windspeed
locations = city_data_df[["Lat", "Lng"]]
wind_speed= city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind_speed, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip?  75
What is the maximum temperature you would like for your trip?  90

In [12]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Kahului,US,2022-01-05 20:28:52,20.8947,-156.4700,80.96,68,20,5.75
3,3,Kieta,PG,2022-01-05 20:28:52,-6.2167,155.6333,79.93,82,86,2.51
6,6,Buala,SB,2022-01-05 20:28:54,-8.1450,159.5921,80.67,83,99,6.62
19,19,Puerto Ayora,EC,2022-01-05 20:28:59,-0.7393,-90.3518,80.56,79,89,9.84
23,23,Kavaratti,IN,2022-01-05 20:29:01,10.5669,72.6420,80.33,71,20,6.33
24,24,Rikitea,PF,2022-01-05 20:29:02,-23.1203,-134.9692,76.59,66,19,5.32
33,33,Porto Belo,BR,2022-01-05 20:29:06,-27.1578,-48.5531,77.90,93,85,15.17
34,34,Kapoeta,SS,2022-01-05 20:29:07,4.7717,33.5903,82.96,33,49,3.02
37,37,Alyangula,AU,2022-01-05 20:29:07,-13.8483,136.4192,84.07,79,100,3.44
38,38,Gboko,NG,2022-01-05 20:29:08,7.3179,8.9951,83.61,22,13,6.49

In [13]:
preferred_cities_df.count()

City_ID       158
City          158
Country       158
Date          158
Lat           158
Lng           158
Max Temp      158
Humidity      158
Cloudiness    158
Wind Speed    158
dtype: int64

In [14]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

            City Country  Max Temp      Lat       Lng Hotel Name
0        Kahului      US     80.96  20.8947 -156.4700
3          Kieta      PG     79.93  -6.2167  155.6333
6          Buala      SB     80.67  -8.1450  159.5921
19  Puerto Ayora      EC     80.56  -0.7393  -90.3518
23     Kavaratti      IN     80.33  10.5669   72.6420
24       Rikitea      PF     76.59 -23.1203 -134.9692
33    Porto Belo      BR     77.90 -27.1578  -48.5531
34       Kapoeta      SS     82.96   4.7717   33.5903
37     Alyangula      AU     84.07 -13.8483  136.4192
38         Gboko      NG     83.61   7.3179    8.9951

In [15]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    
    # Grab the first hotel from the results and store the name.
    try: 
        print(f"Requesting {index} of {len(hotel_df)}")
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except Exception as e:
        print("Error",e)

Requesting 0 of 158
Requesting 3 of 158
Requesting 6 of 158
Requesting 19 of 158
Requesting 23 of 158
Requesting 24 of 158
Requesting 33 of 158
Requesting 34 of 158
Requesting 37 of 158
Requesting 38 of 158
Requesting 41 of 158
Requesting 44 of 158
Requesting 47 of 158
Requesting 48 of 158
Requesting 49 of 158
Requesting 50 of 158
Requesting 51 of 158
Requesting 58 of 158
Requesting 59 of 158
Requesting 69 of 158
Requesting 72 of 158
Requesting 81 of 158
Requesting 84 of 158
Requesting 85 of 158
Requesting 88 of 158
Requesting 92 of 158
Requesting 97 of 158
Requesting 99 of 158
Requesting 102 of 158
Requesting 104 of 158
Requesting 107 of 158
Requesting 110 of 158
Requesting 112 of 158
Requesting 113 of 158
Requesting 121 of 158
Requesting 125 of 158
Error list index out of range
Requesting 126 of 158
Requesting 129 of 158
Requesting 132 of 158
Requesting 134 of 158
Requesting 136 of 158
Requesting 142 of 158
Requesting 145 of 158
Requesting 146 of 158
Requesting 151 of 158
Requesting 154 of 158
Requesting 155 of 158
Requesting 167 of 158
Requesting 173 of 158
Requesting 174 of 158
Requesting 177 of 158
Requesting 178 of 158
Requesting 183 of 158
Error list index out of range
Requesting 184 of 158
Requesting 196 of 158
Requesting 197 of 158
Error list index out of range
Requesting 198 of 158
Requesting 206 of 158
Requesting 207 of 158
Requesting 209 of 158
Requesting 210 of 158
Requesting 215 of 158
Requesting 216 of 158
Requesting 220 of 158
Requesting 227 of 158
Requesting 231 of 158
Requesting 233 of 158
Requesting 234 of 158
Requesting 240 of 158
Requesting 242 of 158
Requesting 247 of 158
Requesting 248 of 158
Requesting 249 of 158
Requesting 250 of 158
Requesting 254 of 158
Requesting 258 of 158
Requesting 266 of 158
Requesting 269 of 158
Requesting 272 of 158
Requesting 273 of 158
Requesting 274 of 158
Requesting 275 of 158
Requesting 280 of 158
Requesting 281 of 158
Requesting 285 of 158
Requesting 297 of 158
Requesting 307 of 158
Requesting 308 of 158
Requesting 309 of 158
Error list index out of range
Requesting 310 of 158
Error list index out of range
Requesting 311 of 158
Error list index out of range
Requesting 314 of 158
Requesting 315 of 158
Requesting 320 of 158
Requesting 323 of 158
Requesting 329 of 158
Requesting 333 of 158
Requesting 334 of 158
Requesting 337 of 158
Requesting 341 of 158
Requesting 342 of 158
Requesting 346 of 158
Error list index out of range
Requesting 347 of 158
Requesting 348 of 158
Requesting 351 of 158
Requesting 353 of 158
Requesting 355 of 158
Requesting 363 of 158
Requesting 364 of 158
Requesting 365 of 158
Requesting 367 of 158
Requesting 368 of 158
Requesting 380 of 158
Requesting 382 of 158
Requesting 383 of 158
Requesting 393 of 158
Requesting 395 of 158
Requesting 397 of 158
Requesting 398 of 158
Error list index out of range
Requesting 415 of 158
Requesting 416 of 158
Requesting 418 of 158
Requesting 421 of 158
Error list index out of range
Requesting 428 of 158
Requesting 431 of 158
Requesting 433 of 158
Requesting 438 of 158
Requesting 439 of 158
Requesting 447 of 158
Requesting 456 of 158
Requesting 457 of 158
Requesting 458 of 158
Requesting 474 of 158
Requesting 476 of 158
Requesting 482 of 158
Requesting 489 of 158
Requesting 495 of 158
Requesting 502 of 158
Requesting 504 of 158
Requesting 505 of 158
Requesting 513 of 158
Requesting 516 of 158
Error list index out of range
Requesting 521 of 158
Requesting 523 of 158
Requesting 529 of 158
Requesting 530 of 158
Requesting 534 of 158
Requesting 535 of 158
Requesting 538 of 158
Requesting 542 of 158
Requesting 543 of 158
Requesting 547 of 158
Requesting 548 of 158
Requesting 549 of 158
Requesting 552 of 158
Requesting 554 of 158
Requesting 557 of 158
Requesting 559 of 158

In [18]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Kahului,US,80.96,20.8947,-156.4700,Maui Seaside Hotel
3,Kieta,PG,79.93,-6.2167,155.6333,Uruna Bay Retreat
6,Buala,SB,80.67,-8.1450,159.5921,Maringe Lagoon Lodge
19,Puerto Ayora,EC,80.56,-0.7393,-90.3518,Finch Bay Galapagos Hotel
23,Kavaratti,IN,80.33,10.5669,72.6420,Hotels in Lakshadweep Islands
...,...,...,...,...,...,...
549,Kavieng,PG,82.22,-2.5744,150.7967,Nusa Island Retreat
552,Itacare,BR,84.09,-14.2775,-38.9967,Ecoporan Hotel Charme Spa & Eventos
554,Acapulco,MX,84.02,16.8634,-99.8901,HS Hotsson Smart Acapulco
557,Mayumba,GA,77.92,-3.4320,10.6554,LIKWALE LODGE
559,Waingapu,ID,76.75,-9.6567,120.2641,Pondok Wisata Elim

In [19]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [20]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [21]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [22]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))